<h2>Get started</h2>
<span>Click "Add" on the left menu to add apps. </span><br>
<span>Click "View" to view your current apps. </span>

<h2>Documentation</h2>

<a href="https://github.com/sweatshops/onboard/wiki"> How to get started using Onboard </a>