<h2>Logout</h2>

<div style="width:100%; text-align:center;">
  <%= link_to({:controller=> :home, :action => :dropbox_deauth}, {:class => "btn btn-default centerbutton"}) do %>
    <span><%= image_tag 'dropbox.png' %></img></span><span> Deauthorize from Dropbox&nbsp;</span>
  <% end %>
</div>