
<div class="header">
	<div class="balloon">
	</div>
	<div class="logoname">
		FlightInvite
	</div>
</div>
<div class="content">
  	<span class="slogan"></span>
  <div class="flash">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= value %>
      </div>
    <% end %>
  </div>

  <br>
  
  <div style="width:100%; text-align:center;">
    <%= link_to({:action => :dropbox_auth}, {:class => "btn btn-default centerbutton"}) do %>
      <span><%= image_tag 'dropbox.png' %></img></span><span> Login with Dropbox&nbsp;</span>
    <% end %>
  </div>
  <br><br><br><br><br>
  
</div>